
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Open AQ Platform API Demo</h1>
    <div>
        <strong>An API for open air quality data.</strong>
        <br />
    </div>
</div>

<br/>

@Html.Partial("_ViewOptions")
